<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>MixIT</title>
    <%- include ./partials/_stylesheets %>
  </head>

  <body class="<% if (locals.isHomepage) { %>isHomepage<% } %>">

    <%# include navbar%>
    <%- include ./partials/_navbar %>

    <% if(!locals.isHomepage) { %><main class="section"><% } %>
    <% for (const type in messages) { %>
      <p class="notification is-<%= type %>"><%= messages[type] %></p>
    <% } %>

    <%# bulma container%>
    <div class="container">

    <%- body %>

  </div>

  <% if(!locals.isHomepage) { %></main><% } %>

    <%- include ./partials/_scripts %>
  </body>

</html>
