
<form class="search-block ingredients" method="GET" action="/cocktails">

  <select class="input is-primary" required name="cocktails.name">
    <option selected disabled>Please select</option>
    <% cocktails.forEach(cocktail => { %>
      <option><%= cocktail.name %></option>
    <% }); %>

  </select>
  <button class="button is-primary search-button">Search</button>
</form>

<div class="columns is-multiline">

  <% cocktails.forEach(cocktail => { %>

    <div class="column is-one-quarter-desktop is-half-tablet">
      <div class="card">



        <div class="card-image">
          <figure class="image is-4by3">
            <a href="/cocktails/<%= cocktail.id %>"><img src="<%= cocktail.image %>"></a>
          </figure>
        </div>




        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-5"><a href="/cocktails/<%= cocktail.id %>"><%= cocktail.name %></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% }) %>

</div>
