<section class="section">
  <div class="container">
    <div class="box columns">
      <div class="column is-half">
        <img src="<%= cocktail.image %>" alt="<%= cocktail.name %>">

        <h1 class="title"><%= cocktail.name %></h1>
        <label>Main Spirit</label>
        <p class="subtitle"><%= cocktail.mainSpirit.name %></p>
        <div class="box">
        <p>Recipe</p>
        <p><%= cocktail.recipe %></p>
        </div>
        <div class="box">
        <p>Description</p>
        <p><%= cocktail.description %></p>
      </div>
        <div class="columns">
          <div class="column is-half">
            <a class="button is-info" href="/cocktails/<%= cocktail.id %>/edit">Edit</a>
          </div>
          <div class="column is-half">
            <form action="/cocktails/<%= cocktail.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button class="button is-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
        <div class="column is-half">
        <div>
          <% cocktail.comments.forEach((comment) => { %>
            <div class="box">
            <div class="columns">
            <div class="column is-11">
            <h3 class="title is-4"><%= comment.commentor %>:</h3>
            </div>
            <div class="column is-1">
            <form action="/cocktails/<%= cocktail.id %>/comments/<%= comment.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </form>
            </div>
            </div>
            <p><%= comment.comment %><p>
            <p>Rating: <%= comment.rating %>/5<p>
            </div>
            <% }) %>
          </div>
          <%#making comments section %>
          <div class="form">
            <div class="commentAdder box">
              <form method="POST" action="<%= cocktail.id %>/comments">
                <div class="field">
                  <label class="label" for="commentor">Name</label>
                  <div class="control">
                    <input class="input" type="text" name="commentor">
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="comment">Your comment:</label>
                  <div class="control">
                    <textarea class="textarea" rows="3" name="comment"></textarea>
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="rating">Your rating</lable>
                    <div class="control">
                      <div class="select">
                        <select name="rating">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <button class="button is-info">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
