<div class="container">
  <div class="columns is-multiline">
    <% spirits.forEach((spirit) => { %>
      <div class="column is-one-quarter box">
        <a href="/spirits/<%= spirit.id %>"><img src="<%= spirit.image %>" alt="<%= spirit.descripton %> "></a>
        <p><%= spirit.name %></p>
        <p><%= spirit.description %></p>
      </div>
    <% }) %>
  </div>

</div>
