
    <div class="box columns is multiline">
      <div class="column">
        <img src="<%= spirit.image %>" alt="<%= spirit.name %>">
      </div>
      <div class="column">
        <h1 class="title"><%= spirit.name %></h1>
        <p><%= spirit.description %></p>
        </div>
        <div class="column">
          <% if(spirit.user) { %>
                <p>Added by: <strong> <%= spirit.user.username %></strong></p>
                <% } %>
                <br>
                <% if(locals.isAuthenticated && spirit.user && spirit.user.id === locals.currentUser.id) { %>
                <form method="POST" action="/spirits/<%= spirit.id %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <a class="button is-primary" href="/spirits/<%= spirit.id %>/edit">Edit</a>
                  <button class="button is-danger">Delete</button>
                </form>
                <% } %>
          </div>
      </div>

      
